.dropdown {
  background-color: white;
  border: 1px solid lightgray;
  position: absolute;
  width: 8rem;
  height: 7rem;
  top: 6%;
  right: 1.5%;
  border-radius: 5px;
  padding: 3px 5px;
  line-height: 35px;
  z-index: 1;

  & > p {
    cursor: pointer;
    &:hover {
      background-color: lightgray;
      border-radius: 5px;
      transition: 0.3s;
    }
  }
}
