.modal {
  position: relative;
  padding-left: 1.5rem;

  & > h2 {
    font-size: 1.6rem;
    padding-top: 1rem;
  }
  & > section {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;

    & > svg {
      font-size: 1.5rem;

      &:hover {
        color: hsl(180, 8%, 52%);
        cursor: pointer;
      }
    }
  }

  & > p {
    padding-top: 1rem;
    color: gray;
  }

  & > div {
    & > h2 {
      font-size: 1.2rem;
      padding-top: 1rem;
    }
  }
}

.dropdown {
  background-color: white;
  border: 1px solid lightgray;
  position: absolute;
  width: 8rem;
  height: 7rem;
  top: 21%;
  left: 71%;
  border-radius: 5px;
  padding: 3px 5px;
  line-height: 35px;

  & > p {
    padding-left: 0.5rem;
    cursor: pointer;
    &:hover {
      background-color: lightgray;
      border-radius: 5px;
      transition: 0.3s;
    }
  }
}
